$_green:  rgba(71,157,112,0.8);
$_darkgray: #585858;
$_orange: #ed750f;
$_orangeligth: #E2A32F;
$_white: white;

$ribbon-gradiente-1: $_orange;
$ribbon-gradiente-2: $_orangeligth;

$background-green: $_green;
$font-body-color: $_darkgray;
$font-white: $_white;
$background-ribbon: $_orange;
