@use "../settings/variables";

.a_hoarding{
    color: variables.$font-white;
    &__primary{
        background-color: variables.$background-green;
    }
    &__secondary{
        background: variables.$background-ribbon;
    }
    &__secondary_gradient{
        background-image: linear-gradient(to right, variables.$ribbon-gradiente-1, variables.$ribbon-gradiente-2);
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {
    .a_hoarding{
        &__secondary_gradient{
            background-image: linear-gradient(to bottom, variables.$ribbon-gradiente-1, variables.$ribbon-gradiente-2);
        }
    }
  }