.o_hero_grid{
    display: grid;
    grid-template-columns: 25% 2% 46% 2% 25%;
    grid-template-rows: 15rem 15rem 5rem 2rem 15rem;
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .o_hero_grid{
        grid-template-columns: 5% 5% 80% 5% 5%;
        grid-template-rows: 10rem 10rem 5rem 5rem 20rem;
    }
}